body {
  backround-color: tan;
  color: white;
}

page {
  width: 1000px;
  margin: 1rem auto;
}

header {
  backround-color: blue;
  padding: 1rem;
}

main {
  backround-color: red;
  padding: 1rem;
}

footer {
  color: blue;
  text-align: center;
}
